{% extends "base.html" %}

{% block content %}
<div style="padding:10pt;" class="container">
    <h1 class="text-center page_header">Sources Cited</h1>
    <div class="row">
        <div style="padding:10pt;">
            <div>
                <p>Hypermedia Image Processing Reference (HIPR2). (2002). Frequency filter. Digital Filters - Frequency Filters. 
                    https://homepages.inf.ed.ac.uk/rbf/HIPR2/freqfilt.html
                </p>
                <p>
                    McAndrew, A. (2004). An introduction to digital image processing with MATLAB. Course Technology Press.
                </p>
                <p>
                    Dogra, A., & Bhalla, P. (2014). Image sharpening by gaussian and butterworth high pass filter. Biomedical and pharmacology journal, 7(2), 707-713.
                </p>
                <p>
                    Bergamasco, F. (n.d.). Computer Vision: Filtering in the Frequency Domain. DAIS, 
                    Ca’Foscari University of Venice, Academic year 2016/2017. Retrieved July 2, 2023, from 
                    https://www.dsi.unive.it/~bergamasco/teachingfiles/cvslides/5_filtering_in_frequency_domain.pdf. 
                </p>
                <p>
                    Zheng, B., Yuan, S., Slabaugh, G., & Leonardis, A. (2020). Image demoireing with learnable bandpass filters. In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (pp. 3636-3645).
                </p>
                <p>
                Sulejman, S. B., Priscilla, N., Wesemann, L., Lee, W. S., Lou, J., Hinde, E., & Roberts, A. (2023). Thin film notch filters as platforms for biological image processing. Scientific Reports, 13(1), 4494.
                </p>
                <p>
                Marina. (2023, March 3). Exploring the benefits of comb filters in signal processing. https://brunetteonamission.com/exploring-the-benefits-of-comb-filters-in-signal-processing/ 
                </p>

            </div>
        </div>
        
    </div>
    

</div>



{% endblock %}